SECRET_KEY = ''

DATABASE = ''

PORTAL_CLIENT_ID = ''
PORTAL_CLIENT_SECRET = ''

GLOBUS_AUTH_LOGOUT_URI = ''

USER_SCOPES = (
    "openid",
    "profile",
    "email",
    "urn:globus:auth:scope:transfer.api.globus.org:all",
)


# for dev
HOST = 'http://localhost'
FLASK_URL = 'http://localhost:5328'
NEXT_URL = 'http://localhost:3000'

# For flask
FLASK_RUN_HOST=localhost
FLASK_RUN_PORT=5328
# for prod
# HOST = "https://diamond.ncsa.illinois.edu"
# NEXT_URL = "https://diamond.ncsa.illinois.edu"
# FLASK_URL = "https://diamond.ncsa.illinois.edu/api"
FLASK_RUN_HOST="0.0.0.0"
FLASK_RUN_PORT=5328