diamond-hpc==0.0.*
Flask==3.1.*
Flask-Cors==5.0.*
globus-compute-sdk==3.5.*
globus-sdk>=3.51,<4
gunicorn==23.0.*
psycopg2-binary==2.9.*
python-dotenv==1.0.*
requests==2.32.*
Flask-SQLAlchemy==3.1.1
elegant-logger==0.0.2
