SQLALCHEMY_DATABASE_URI=
PORTAL_CLIENT_ID=
PORTAL_CLIENT_SECRET=

GLOBUS_AUTH_LOGOUT_URI=

USER_SCOPES=(
    "openid",
    "profile",
    "email",
    "urn:globus:auth:scope:transfer.api.globus.org:all",
)


# for dev
HOST=http://localhost:5328
NEXT_URL=http://localhost:3000

# For flask
FLASK_RUN_HOST=localhost
FLASK_RUN_PORT=5328
FLASK_ENV=development

# for prod
# HOST = "https://diamond.ncsa.illinois.edu"

# Gunicorn Production Server Configuration
# Customize workers and threads based on your needs
# --workers: Number of worker processes (recommended: 2-4 × NUM_CORES)
# --threads: Number of threads per worker
# --worker-class: Type of worker process
# --bind: Host and port to bind to
GUNICORN_CMD_ARGS="--workers=1 --threads=100 --worker-class=gthread --bind=localhost:5328"

# Ignore for now - we can set this later
SECRET_KEY=

GIT_COMMIT_SHA= # for healthcheck
