cat << EOF > {{ location }}/{{ container_name }}.def
Bootstrap: docker
From: {{ base_image }}

%post
    apt-get -y update
    apt-get -y install apt-utils
    apt-get -y install python3-pip
    mkdir -p /app
    cd /app
    echo $PWD
    echo "{{ commands }}" > commands.sh
    chmod +x commands.sh

%environment
    export {{ environment }}

%runscript
    /bin/bash /app/commands.sh
EOF
