cat << EOF > {{ location }}/{{ task_name }}.submit
#!/bin/bash

#SBATCH --job-name={{ task_name }}
#SBATCH --output={{ stdout_path }}
#SBATCH --error={{ stderr_path }}
#SBATCH --nodes={{ num_of_nodes }}
#SBATCH --time={{ time_duration }}
#SBATCH --partition={{ partition }}
#SBATCH --account={{ account }}
#SBATCH --ntasks-per-node=1
#SBATCH --exclusive

export DIAMOND_DATASET_PATH={{ dataset_system_path }}
if [[ -z "{{ dataset_system_path }}" ]]; then
    echo "No dataset specified"
    mount_string=""
else
    mount_string="--bind {{ dataset_system_path }}"
fi

{{ container_module_command }}
srun apptainer exec $mount_string --nv {{ container }} {{ task_command }}
echo "EOF" >> {{ stdout_path }}
echo "EOF" >> {{ stderr_path }}
EOF

sbatch {{ reservation }} {{ location }}/{{ task_name }}.submit
