cat << EOF > {{ location }}/{{ task_name }}.submit
#!/bin/bash

#SBATCH --job-name={{ task_name }}
#SBATCH --output={{ stdout_path }}
#SBATCH --error={{ stderr_path }}
#SBATCH --nodes={{ num_of_nodes }}
#SBATCH --time={{ time_duration }}
#SBATCH --partition={{ partition }}
#SBATCH --account={{ account }}
#SBATCH --ntasks-per-node=1
#SBATCH --exclusive

{{ container_module_command }}
srun apptainer exec --nv {{ container }} {{ task }}
EOF

sbatch {{ reservation }} {{ location }}/{{ task_name }}.submit
